.student-dash-main {
  width: 100vw;
  height: 100vh;
  /* background-image: url("./image.png");
  background-repeat: no-repeat;*/
  background-size: 100% 100%;
  background-color: papayawhip;
  color: black;
}

.image-Container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: circle(52% at 89% 50%);
}

.scrollable-div{
  min-height: 0px;
  max-height: 50px;
  overflow-y: scroll;
  /* scroll-behavior: auto; */
}