.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  color: rgb(2, 2, 45);
}

.marks-box {
  background-color: rgb(238, 226, 238);
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  color: black;
}

strong {
  display: block;
  margin-bottom: 5px;
  color: black;
}
