.head-area {
  background-color: #26577c;
  width: 100vw;
  padding: 0px 30px;
  z-index: 111;
  border-bottom: #909090ad;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.header-container {
  width: 100%;
  margin: auto;
  display: table;
}

.logo-nav {
  float: left;
  padding: 17px 0;
}

.logo-nav h1 {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  padding: 15px;
}

.logo-nav span {
  color: #ff4a44;
}

.menu {
  float: right;
}

.menu1 div {
  display: inline-block;
  margin: 22px 5px;
}

.menu1 div p {
  color: #fff;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 15px 10px;
  transition: 0.5s;
}

.menu1 p:hover,
.menu1 .active {
  color: #ff4a44;
}

.menu1 div p:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #ff4a44;
  bottom: 0px;
  left: 0;
  transition: all 0.5s;
}

.menu1 div p:hover:after {
  width: 100%;
}

.menu1 div .active:after {
  width: 100%;
}
