.accepted-heading {
    font-family: 'TT Fors Trial', sans-serif;
    font-family: 'TT Fors', sans-serif;
    color: #000000;
    margin: 0;
    padding: 4px;
    font-size: 30px;
    line-height: 44px;
    font-weight: 700;

    text-wrap: nowrap;
}

.accepted-container {
    height: 40vh;
    width: 30vw;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1vw 2vw;
}

.accepted-name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 14px;
    font-weight: 800;
    color: #272c2a;
    list-style-type: disc;
    margin-left: 3vw;
}


.requests-container {
    width: 75%;
    height: 42%;
    padding: 2vw;
    margin: 0 auto;
    margin-top: 70px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: scroll;
}
.requests-container1{
    background-color: #afa7a7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}