.Faculty-Dashboard{
    width:100%;
    height:100%;
    background-color: white;
}
.aka{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.home2{
    right: 0;
}
.MyImg{
    width: 3%;
    height: auto;
}
.navbar2{
    display: flex;
}