.phase-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    position: absolute;
    background-color:#070c1d;
    width: 25%;
    height:60%;
    top: 0;
    right: 0;
    margin-top: 10rem;
    margin-right: 2rem;
    box-shadow: 0 0.3vw 0.4vw #16265a;
  }
  
  .phase-item {
    font-size:1.5625rem;
    padding: 0.75rem 1.5rem;
    margin:2.1rem auto;
    border-radius: 0.5rem;
    color: white;
    width: 60%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(227, 236, 99, 0.5);
  }
  
  .phase-highlight {
    background: linear-gradient(to right, #665007 0%, #b59229 80%);
  }
  
  .shadow {
    box-shadow: 0 4px 6px rgb(194, 74, 74.0.);
  }
  
  .phase-item:hover {
    transform: translateY(-3px);
  }
  
 