
.form-container {
    width: 90%; 
    max-width: 500px; 
    margin:3% auto;
    position: relative;
    padding: 3vw; 
    border: 2px solid rgb(151, 237, 94); 
    border-radius: 20px; 
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 20px rgb(172, 231, 94); 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
  }
  
  @media screen and (max-width: 768px) {
    .form-container {
      width: 90%; 
    }
  }
  
  
  .form {
    margin-top: 1.5rem;
  }
  
  .inputContainer {
    position: relative;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-left: 0;
      margin-bottom: 14%;
  }
  
  .inputField {
    border: 2px solid white;
    background-color: transparent;
    border-radius: 30px;
    padding: 12px 15px;
    color: black;
    font-weight: 500;
    outline: none;
    caret-color: rgb(155, 78, 255);
    transition-duration: .3s;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  }
  .inputField::placeholder{
    color: rgb(235, 222, 198);
  }
  
  .usernameLabel {
    position: absolute;
    top: -25px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    overflow: hidden;
    transition: .2s linear;
    opacity: 0;
  }
  
  .inputField:focus ~ .usernameLabel,
  .inputField:valid ~ .usernameLabel {
    transform: translateX(4px);
    opacity: 1;
  }
  
  
  .inputField:focus,
  .inputField:valid {
    background-color: #ddd;
    transition-duration: .3s;
  }
  
  
  
  .forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175,1);
    margin: 8px 0 14px 0;
  }
  
  .forgot p,.signup p {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 1rem;
  }
  
  .forgot p:hover, .signup p:hover {
    text-decoration: underline rgba(167, 139, 250, 1);
  }
  
  .sign {
    display: block;
    width: 100%;
    margin:auto;
    background-color: rgb(122, 60, 180);
    padding: 0.75rem;
    text-align: center;
    color: rgb(220, 223, 228);
    border: none;
    border-radius: 0.4rem;
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  
  
  .line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
  }
  
  
  
  .signup {
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    margin-top: 12px;
    margin-bottom: 0;;
    color: rgba(156, 163, 175, 1);
  }
  .h2 {
    text-align: center;
    width:40%;
    padding: 0%;
    font-size: xx-large;
    border-radius: 6px;
    margin:0 auto;
    margin-top:2vh;
    margin-bottom: 5vh;
    color: #007bff; 
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.7), 0 0 20px rgba(0, 123, 255, 0.5), 0 0 30px rgba(0, 123, 255, 0.3), 0 0 40px rgba(0, 123, 255, 0.1);
    transition: box-shadow 0.3s; 
  }
  .Register{
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(223, 216, 179);
    margin-left:8px;
    text-decoration: underline;

  }
  .button {
    display: inline-block;
    border-radius: 10px;
    background-color: #3d3f5c;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    padding: 14px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
   }
   
   .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   .button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   .button:hover span {
    padding-right: 15px;
   }
   
   .button:hover span:after {
    opacity: 1;
    right: 0;
   }
   .option{
    margin:0 auto;
    margin-bottom: 4vh;
   }