* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
.wrapper {
  background: #50a3a2;
  background: linear-gradient(top left, #50a3a2 0%, #201658 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #201658 100%);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrapper.form-success .container h1 {
  transform: translateY(85px);
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 400px;
  text-align: center;
}
.container h1 {
  font-size: 40px;
  transition-duration: 1s;
  transition-timing-function: ease-in-     put;
  font-weight: 200;
}
.form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
.form input {
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
.form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.form input:focus {
  background-color: white;
  width: 300px;
  color: #53e3a6;
}
.sign {
  appearance: none;
outline: 0;
background-color: white;
border: 0;
padding: 10px 15px;
color: #53e3a6;
border-radius: 3px;
width: 250px;
cursor: pointer;
font-size: 18px;
transition-duration: 0.25s;

}
.sign:hover {
background-color: #f5f7f9;
}
.option{
  display: flex;
  width: 250px;
  justify-content: center;
  margin:auto;
  gap:2vw;
  margin-bottom:3vh;
}
.option button{
  appearance: none;
outline: 0;
border: 0;
padding: 10px 15px;
color: #a3b4d3;
border-radius: 3px;
cursor: pointer;
font-size: 18px;
transition-duration: 0.25s;
flex-wrap: nowrap;
}
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  animation: square 25s infinite; 
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  animation-delay: 2s;
  animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  animation-delay: 4s;
  
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  animation-delay: 15s;
  animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  animation-delay: 2s;
  animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  animation-delay: 11s;        
}
@keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
            transform: translateY(0);
  }
  100% {
            transform: translateY(-700px) rotate(600deg);
  }
}
/* 
.form-container {
    width: 90%; 
    max-width: 500px; 
    background-color: #3d3f5c;
    margin:3% auto;
    position: relative;
    padding: 3vw; 
    border: 2px solid rgb(151, 237, 94); 
    border-radius: 20px; 
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 20px rgb(172, 231, 94); 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
  }
  
  @media screen and (max-width: 768px) {
    .form-container {
      width: 90%; 
    }
  }
  
  
  .form {
    margin-top: 1.5rem;
  }
  
  .inputContainer {
    position: relative;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-left: 0;
      margin-bottom: 14%;
  }
  
  .inputField {
    border: 2px solid white;
    background-color: transparent;
    border-radius: 30px;
    padding: 12px 15px;
    color: black;
    font-weight: 500;
    outline: none;
    caret-color: rgb(155, 78, 255);
    transition-duration: .3s;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  }
  .inputField::placeholder{
    color: rgb(254, 254, 254);
  }
  
  .usernameLabel {
    position: absolute;
    top: -25px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    overflow: hidden;
    transition: .2s linear;
    opacity: 0;
  }
  
  .inputField:focus ~ .usernameLabel,
  .inputField:valid ~ .usernameLabel {
    transform: translateX(4px);
    opacity: 1;
  }
  
  
  .inputField:focus,
  .inputField:valid {
    background-color: #ddd;
    transition-duration: .3s;
  }
  
  
  
  .forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175,1);
    margin: 8px 0 14px 0;
  }
  
  .forgot p,.signup p {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 1rem;
  }
  
  .forgot p:hover, .signup p:hover {
    text-decoration: underline rgba(167, 139, 250, 1);
  }
  
  .sign {
    display: block;
    width: 100%;
    margin:auto;
    background-color: rgb(122, 60, 180);
    padding: 0.75rem;
    text-align: center;
    color: rgb(220, 223, 228);
    border: none;
    border-radius: 0.4rem;
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  
  
  .line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
  }
  
  
  
  .signup {
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    margin-top: 12px;
    margin-bottom: 0;;
    color: rgba(156, 163, 175, 1);
  }
  .h2 {
    text-align: center;
    width:40%;
    padding: 0%;
    font-size: xx-large;
    border-radius: 6px;
    margin:0 auto;
    margin-top:2vh;
    margin-bottom: 5vh;
    color: #007bff; 
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.7), 0 0 20px rgba(0, 123, 255, 0.5), 0 0 30px rgba(0, 123, 255, 0.3), 0 0 40px rgba(0, 123, 255, 0.1);
    transition: box-shadow 0.3s; 
  }
  .Register{
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(223, 216, 179);
    margin-left:8px;
    text-decoration: underline;

  }
  .button {
    display: inline-block;
    border-radius: 10px;
    background-color: #3d3f5c;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    padding: 14px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
   }
   
   .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   .button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   .button:hover span {
    padding-right: 15px;
   }
   
   .button:hover span:after {
    opacity: 1;
    right: 0;
   }
   .option{
    margin:0 auto;
    margin-bottom: 4vh;
   } */