.Pref-Main {
    background-color: #222831;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden; 
}
.search-bar{
  margin-top: 1vh;
  margin-left: 2vh;
}
.preference-list {
    margin:2vh auto;
    width: calc(100%);
    height: calc(100% - 48px);
    overflow-y: auto;
    overflow-x: hidden;
    /* border-top: 2px solid #6C88A1; */
}

  .professor-name{
    color: #393406; 
    font-family: 'Trocchi', serif; 
    font-size: 1.5rem; 
    font-weight: normal; 
    /* line-height: 48px;  */
    margin: 0;
  }
  /* .professor-row{
    display: flex;
    justify-content: space-between;
    border-left: 2px solid white;
    margin:6vh;
    
    border: 2px solid white;
}
.professor-row div{
    width:100%; 
    padding: 1.5vw 0;
    padding-left: 1vw;
} */
  .tbody{
    display: flex;
  flex-wrap: wrap;
  }
  .professor-row{
    flex: 0 0 50%;
  }
  .prof-data{
    margin-left: 4vh;
  } 
  .th{
    padding: 12px 15px;
    text-align: left;
    color: black;
    width: 100%;
  }
  .td{
    padding: 12px 15px;
    text-align:start;
    color: black;
  }
  .prof-domains{
    white-space: inherit;
    word-wrap: break-word;
  }
  .tr{
    display: flex;
    width: 100%;
  }
  .th {
    background-color: #333;
    color: black;
  }
  
  /* .tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .tr:hover {
    background-color: #ddd;
  }
   */   
  