 .team-members {
   font-family: Arial, sans-serif;
   position: relative;
   background-color: #f9f9f9;
   padding: 2rem;
   border-radius: 8px;
   box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1);
   max-width: 48rem;
   margin: 4.17vw 17vw;
   transition: margin-left 0.3s ease;
 }

 @media (max-width: 1061px) {
  .team-members-heading {
    font-size: 3vw; 
  }

  .member-name {
    font-size: 2vw; 
  }
}

@media (max-width: 768px) {
  .team-members {
    margin-left: 20vw;
  }

  .team-members-heading {
    font-size: 2.5vw; 
  }

  .member-name {
    font-size: 1.8vw;
  }
}

/*
.team-members-heading {
  font-size: 4vw;
  color: #333;
  margin-bottom: 2vw;
  text-align: center;
  text-transform: uppercase;
}

.team-members-list {
 
}

.team-member-item {
  margin: 10px;
  text-align: center;
  
}
*/
 .member-image {
   border-radius: 50%;
   object-fit: cover;
   object-position: center;
 }

 .member-info {
   margin-bottom: 1vw;
 }

 /* .member-name {
  font-size: 1.6vw;
  font-weight: bold;
} */

 .member-designation {
   font-size: 0.5vw;
   color: #666;
 }



 .team-members {
   margin: 4.17vw 17vw;
 }