.team-members {
	width: fit-content;
	text-wrap: nowrap;
}

.team-members-list {
	position: relative;
	/* margin-left: 6%; */
	margin-top: 5%;
	padding: 0 1%;

}

.member-name {
	font-family: Gill Sans, Verdana;
	font-size: 16px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	color: #12FF9D;
}

.member-info {
	padding: 6px 0px;
}

.team-members-heading {
	font-family: 'TT Fors Trial', sans-serif;
	/* font-family: 'TT Fors Trial Variable', sans-serif; */
	font-family: 'TT Fors', sans-serif;
	color: #dae3e9;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 51px;
	line-height: 44px;
	letter-spacing: 3px;
	font-weight: 800;
}