.weird-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 250px;
  margin-left: 135px;
}

.weird-box {
  width: 45%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.weird-guide {
  background-color: #9dedf3;
}

.weird-expert {
  background-color: #93f1db;
}

.weird-content {
  margin-top: 10px;
}
